name: asdf

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: 0 0 * * 5

jobs:
  plugin_test:
    name: asdf plugin test
    runs-on: macos-latest
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: swiftgen --version
        env:
          GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
